// Mixins in here

.flex(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}
.button(@width, @height){
    background: @eastern-blue;
    border-radius: 10px;
    width: @width;
    height: @height;
    font-size: 2rem;
    color: white;
    .flex(center, center);
}
